.nav {
    font-family: sans-serif;
    grid-area: n;
    background-color: ghostwhite;
    z-index: 9998;
    box-shadow: 0px 0px 20px 0px rgba(44,101,144,0.1);
}
.item {
    font-size: 14px;
    white-space: nowrap;
    position: relative;
    padding: 15px;
    line-height: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.item a {
    color: black;
    text-decoration: none ;
}

.item a.active {
    color: dodgerblue;
}
