.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
}

.item {
    padding: 10px;
}

.item a {
    color: black;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}

a.active {
    color: dodgerblue;
}
